# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

yachties.client/node_modules/

Yachties.Server/bin/
Yachties.Server/obj/
Yachties.Server/yachties.db*
Yachties.Server/*.user
Yachties.Server/*.suo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/
bin/
obj/
*.user
*.log
*.env
*.db
*.db-shm
*.db-wal